---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Override the hero caption position
.page__hero-caption {
    position: absolute !important;
    bottom: 0px !important; /* Adjust as needed */
    left: 0px !important; /* Moves caption to bottom-left */
    right: auto !important;
    text-align: left !important;
}

a.affiliate-btn {
    display: inline-block;
    background: #28a745; /* Green color */
    color: white !important;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
  }
  
  a.affiliate-btn:hover {
    background: #218838; /* Darker green on hover */
  }
  
  // Style the affiliate disclaimer text
  .affiliate-disclosure {
    font-size: 0.9rem;
    color: #666;
    padding-top: 10px;
    margin-top: 20px;
  }